* {
  padding: 0;
  margin: 0;
}
.bg {
  background-color: #212324;
}
.carousel-inner img {
  background-size: cover;
  margin-top: 1.615508885298869vh;
  margin-bottom: 1.615508885298869vh;
  margin-right: 25%;
  margin-left: 20%;
  /* height: 65vh !important; */
  width: 60% !important;
  border-color: rgb(125, 211, 240);
  border-style: solid;
  padding: 1.2924071082390953vh 0.6666666666666666vw 1.2924071082390953vh
    0.6666666666666666vw;
  border-spacing: 0.25vw 0.48465266558966075vh;
  border-radius: 5vw / 9.693053311793214vh;
}
