body {
  background-color: #212324;
  font-family: "lato", sans-serif;
  font-weight: bold;
}

.fa-edit {
  font-size: 4rem;
}

.hide {
  color: #212324;
}

.a-1 {
  color: #6ecdfa;
  text-align: center;
  font-size: 6rem;
  margin-left:-10px;
  justify-content: top;
}

/* .c-1{
    background-color:#212324;
    color: #ffffff; 
}
.card{
    height: 16rem;
    border: 1px solid #212324;  
}

.card-text{
    border-radius: 5px;
    background-color:#6ECDFA;
    color: #212324;
    padding: 2px;
}

.my-div{
    padding-top: 1rem;
}



.hide {
    display: none;
}
    
.my-div:hover + .hide {
    transition-delay: 2s slow;
    display: inline-block;
}

.my-div:hover{
    padding-top:0px;
}

.card-img-top{
    height:100px;
    width:100px;
} */
.margin-top {
  margin-top: 151px;
}
.domains-container {
  width: 100%;
}
.domains-container img {
  height: 130px;
  width: 130px;
  margin: 100px;
  margin-bottom: 20px;
  /* background-color: green; */
}
.domain-bundle h5 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  color: #bbebff;
  text-align: center;
}
.domain-bundle {
  /* background-color: grey; */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 900px) and (max-width: 1300px) {
  .domain-bundle h5 {
    font-size: 25px;
  }
}
