
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* z-index: -1; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #9edcfa;
}

.main {
  overflow: hidden;
}

.bubble {

  display: inline-block;
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: absolute;
}
.bubble-1 {
  
  left: 5vw;
  top: 27vh;
  animation: move-1 30.02s infinite;
  -moz-transform: translate(0, 0) scale(2.01);
  -ms-transform: translate(0, 0) scale(2.01);
  -webkit-transform: translate(0, 0) scale(2.01);
  transform: translate(0, 0) scale(2.01);
}
.bubble-2 {
  
  left: 24vw;
  top: 25vh;
  animation: move-2 30.04s infinite;
  -moz-transform: translate(0, 0) scale(0.93);
  -ms-transform: translate(0, 0) scale(0.93);
  -webkit-transform: translate(0, 0) scale(0.93);
  transform: translate(0, 0) scale(0.93);
}
.bubble-3 {

  left: 25vw;
  top: 73vh;
  animation: move-3 30.06s infinite;
  -moz-transform: translate(0, 0) scale(1.9);
  -ms-transform: translate(0, 0) scale(1.9);
  -webkit-transform: translate(0, 0) scale(1.9);
  transform: translate(0, 0) scale(1.9);
}
.bubble-4 {

  left: 35vw;
  top: 4vh;
  animation: move-4 30.08s infinite;
  -moz-transform: translate(0, 0) scale(1.63);
  -ms-transform: translate(0, 0) scale(1.63);
  -webkit-transform: translate(0, 0) scale(1.63);
  transform: translate(0, 0) scale(1.63);
}
.bubble-5 {

  left: 50vw;
  top: 15vh;
  animation: move-5 30.1s infinite;
  -moz-transform: translate(0, 0) scale(0.95);
  -ms-transform: translate(0, 0) scale(0.95);
  -webkit-transform: translate(0, 0) scale(0.95);
  transform: translate(0, 0) scale(0.95);
}
.bubble-6 {

  left: 55vw;
  top: 55vh;
  animation: move-6 30.12s infinite;
  -moz-transform: translate(0, 0) scale(1.92);
  -ms-transform: translate(0, 0) scale(1.92);
  -webkit-transform: translate(0, 0) scale(1.92);
  transform: translate(0, 0) scale(1.92);
}
.bubble-7 {

  left: 65vw;
  top: 11vh;
  animation: move-7 30.14s infinite;
  -moz-transform: translate(0, 0) scale(1.34);
  -ms-transform: translate(0, 0) scale(1.34);
  -webkit-transform: translate(0, 0) scale(1.34);
  transform: translate(0, 0) scale(1.34);
}
.bubble-8 {

  left: 85vw;
  top: 11vh;
  animation: move-8 30.16s infinite;
  -moz-transform: translate(0, 0) scale(2.05);
  -ms-transform: translate(0, 0) scale(2.05);
  -webkit-transform: translate(0, 0) scale(2.05);
  transform: translate(0, 0) scale(2.05);
}
.bubble-9 {

  left: 85vw;
  top: 53vh;
  animation: move-9 30.18s infinite;
  -moz-transform: translate(0, 0) scale(0.43);
  -ms-transform: translate(0, 0) scale(0.43);
  -webkit-transform: translate(0, 0) scale(0.43);
  transform: translate(0, 0) scale(0.43);
}
.bubble-10 {

  left: 69vw;
  top: 99vh;
  animation: move-10 30.2s infinite;
  -moz-transform: translate(0, 0) scale(0.16);
  -ms-transform: translate(0, 0) scale(0.16);
  -webkit-transform: translate(0, 0) scale(0.16);
  transform: translate(0, 0) scale(0.16);
}




@keyframes move-1 {
  32% {
    -moz-transform: translate(-9vw, -94vh);
    -webkit-transform: translate(-9vw, -94vh);
    transform: translate(-9vw, -94vh);
  }
}
@keyframes move-2 {
  46% {
    -moz-transform: translate(-84vw, -62vh);
    -webkit-transform: translate(-84vw, -62vh);
    transform: translate(-84vw, -62vh);
  }
}
@keyframes move-3 {
  32% {
    -moz-transform: translate(-81vw, -9vh);
    -webkit-transform: translate(-81vw, -9vh);
    transform: translate(-81vw, -9vh);
  }
}
@keyframes move-4 {
  32% {
    -moz-transform: translate(-19vw, -16vh);
    -webkit-transform: translate(-19vw, -16vh);
    transform: translate(-19vw, -16vh);
  }
}
@keyframes move-5 {
  53% {
    -moz-transform: translate(-58vw, -16vh);
    -webkit-transform: translate(-58vw, -16vh);
    transform: translate(-58vw, -16vh);
  }
}
@keyframes move-6 {
  52% {
    -moz-transform: translate(-98vw, -30vh);
    -webkit-transform: translate(-98vw, -30vh);
    transform: translate(-98vw, -30vh);
  }
}
@keyframes move-7 {
  32% {
    -moz-transform: translate(-50vw, -3vh);
    -webkit-transform: translate(-50vw, -3vh);
    transform: translate(-50vw, -3vh);
  }
}
@keyframes move-8 {
  54% {
    -moz-transform: translate(-20vw, -29vh);
    -webkit-transform: translate(-20vw, -29vh);
    transform: translate(-20vw, -29vh);
  }
}
@keyframes move-9 {
  45% {
    -moz-transform: translate(-40vw, -38vh);
    -webkit-transform: translate(-40vw, -38vh);
    transform: translate(-40vw, -38vh);
  }
}
@keyframes move-10 {
  52% {
    -moz-transform: translate(-79vw, -54vh);
    -webkit-transform: translate(-79vw, -54vh);
    transform: translate(-79vw, -54vh);
  }
}



#titles
{
  background-color: #9edcfa;
  color: #01303f;
  position: relative;
  height: 68vh;
  /* z-index: 1; */
}
h1
{
  font-weight: 900;
  font-size: 100px;
  position: relative;
  top:240px;
  margin-left: 180px;
}
h2
{
  font-weight: 300;
  font-size: 40px;
  margin-left: 215px;
  position:relative;
  top:220px;
}
h1,h2
{
  font-family: 'Lato',sans-serif;
}
#arm-left
{
  position: relative;
  top:220px;
  height:250px;
}
#arm-right
{
  position:relative;
  top:220px;
  left:290px;
  height: 250px;
}