/* 
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.bubble {

  display: inline-block;
  width: 200px;
  height: 220px;
  border-radius: 50%;
  position: absolute;
}
.bubble-1 {
  
  left: 5vw;
  top: 27vh;
  animation: move-1 30.02s infinite;
  -moz-transform: translate(0, 0) scale(2.01);
  -ms-transform: translate(0, 0) scale(2.01);
  -webkit-transform: translate(0, 0) scale(2.01);
  transform: translate(0, 0) scale(2.01);
}
.bubble-2 {
  
  left: 24vw;
  top: 25vh;
  animation: move-2 30.04s infinite;
  -moz-transform: translate(0, 0) scale(0.93);
  -ms-transform: translate(0, 0) scale(0.93);
  -webkit-transform: translate(0, 0) scale(0.93);
  transform: translate(0, 0) scale(0.93);
}
.bubble-3 {

  left: 25vw;
  top: 73vh;
  animation: move-3 30.06s infinite;
  -moz-transform: translate(0, 0) scale(1.9);
  -ms-transform: translate(0, 0) scale(1.9);
  -webkit-transform: translate(0, 0) scale(1.9);
  transform: translate(0, 0) scale(1.9);
}
.bubble-4 {

  left: 35vw;
  top: 4vh;
  animation: move-4 30.08s infinite;
  -moz-transform: translate(0, 0) scale(1.63);
  -ms-transform: translate(0, 0) scale(1.63);
  -webkit-transform: translate(0, 0) scale(1.63);
  transform: translate(0, 0) scale(1.63);
}
.bubble-5 {

  left: 50vw;
  top: 15vh;
  animation: move-5 30.1s infinite;
  -moz-transform: translate(0, 0) scale(0.95);
  -ms-transform: translate(0, 0) scale(0.95);
  -webkit-transform: translate(0, 0) scale(0.95);
  transform: translate(0, 0) scale(0.95);
}
.bubble-6 {

  left: 55vw;
  top: 55vh;
  animation: move-6 30.12s infinite;
  -moz-transform: translate(0, 0) scale(1.92);
  -ms-transform: translate(0, 0) scale(1.92);
  -webkit-transform: translate(0, 0) scale(1.92);
  transform: translate(0, 0) scale(1.92);
}
.bubble-7 {

  left: 65vw;
  top: 11vh;
  animation: move-7 30.14s infinite;
  -moz-transform: translate(0, 0) scale(1.34);
  -ms-transform: translate(0, 0) scale(1.34);
  -webkit-transform: translate(0, 0) scale(1.34);
  transform: translate(0, 0) scale(1.34);
}
.bubble-8 {

  left: 85vw;
  top: 11vh;
  animation: move-8 30.16s infinite;
  -moz-transform: translate(0, 0) scale(2.05);
  -ms-transform: translate(0, 0) scale(2.05);
  -webkit-transform: translate(0, 0) scale(2.05);
  transform: translate(0, 0) scale(2.05);
}
.bubble-9 {

  left: 85vw;
  top: 53vh;
  animation: move-9 30.18s infinite;
  -moz-transform: translate(0, 0) scale(0.43);
  -ms-transform: translate(0, 0) scale(0.43);
  -webkit-transform: translate(0, 0) scale(0.43);
  transform: translate(0, 0) scale(0.43);
}
.bubble-10 {

  left: 69vw;
  top: 99vh;
  animation: move-10 30.2s infinite;
  -moz-transform: translate(0, 0) scale(0.16);
  -ms-transform: translate(0, 0) scale(0.16);
  -webkit-transform: translate(0, 0) scale(0.16);
  transform: translate(0, 0) scale(0.16);
}




@keyframes move-1 {
  32% {
    -moz-transform: translate(-9vw, -94vh);
    -webkit-transform: translate(-9vw, -94vh);
    transform: translate(-9vw, -94vh);
  }
}
@keyframes move-2 {
  46% {
    -moz-transform: translate(-84vw, -62vh);
    -webkit-transform: translate(-84vw, -62vh);
    transform: translate(-84vw, -62vh);
  }
}
@keyframes move-3 {
  32% {
    -moz-transform: translate(-81vw, -9vh);
    -webkit-transform: translate(-81vw, -9vh);
    transform: translate(-81vw, -9vh);
  }
}
@keyframes move-4 {
  32% {
    -moz-transform: translate(-19vw, -16vh);
    -webkit-transform: translate(-19vw, -16vh);
    transform: translate(-19vw, -16vh);
  }
}
@keyframes move-5 {
  53% {
    -moz-transform: translate(-58vw, -16vh);
    -webkit-transform: translate(-58vw, -16vh);
    transform: translate(-58vw, -16vh);
  }
}
@keyframes move-6 {
  52% {
    -moz-transform: translate(-98vw, -30vh);
    -webkit-transform: translate(-98vw, -30vh);
    transform: translate(-98vw, -30vh);
  }
}
@keyframes move-7 {
  32% {
    -moz-transform: translate(-50vw, -3vh);
    -webkit-transform: translate(-50vw, -3vh);
    transform: translate(-50vw, -3vh);
  }
}
@keyframes move-8 {
  54% {
    -moz-transform: translate(-20vw, -29vh);
    -webkit-transform: translate(-20vw, -29vh);
    transform: translate(-20vw, -29vh);
  }
}
@keyframes move-9 {
  45% {
    -moz-transform: translate(-40vw, -38vh);
    -webkit-transform: translate(-40vw, -38vh);
    transform: translate(-40vw, -38vh);
  }
}
@keyframes move-10 {
  52% {
    -moz-transform: translate(-79vw, -54vh);
    -webkit-transform: translate(-79vw, -54vh);
    transform: translate(-79vw, -54vh);
  }
} */
/* 
.main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;

} */

#titles {
  background-color: #212324;
  color: #01303f;
  position: relative;
  height: 1700px;
  width: 100%;
  z-index: -100px;
  overflow: hidden;
}
.iv {
  background-color: #9edcfa;
  color: #01303f;
  height: 1050px;
  width: 1150px;
  display: inline-block;

  transform: skewX(25deg);
  border-radius: 50px;
  position: relative;
  left: -300px;
  top: -1px;
  padding-left: 250px;

  float: left;
  box-shadow: 25px 17.16px 250px rgba(110, 205, 250, 0.4);
}
.iv2 {
  background-color: #9edcfa;
  color: #01303f;
  height: 1050px;
  width: 1700px;
  display: inline-block;

  transform: skewX(25deg);
  border-radius: 50px;
  position: relative;
  left: 950px;
  top: -1050px;
  padding-left: 250px;
  float: left;
  box-shadow: 25px 17.16px 250px rgba(110, 205, 250, 0.4);
}
.content {
  font-family: "Lato", sans-serif;
  margin-top: 160px;
  margin-left: 20px;
}
.content h1 {
  font-weight: 900;
  font-size: 175px;
  position: relative;
  top: 240px;

  margin-left: 180px;
}
.content h2 {
  font-weight: 300;
  font-size: 70px;
  margin-left: 215px;
  position: relative;
  top: 220px;
}
.iv > * {
  transform: skewX(-25deg);
}
/* #iv-content
{
    z-index:1;
}
#iv-content *
{
  transform: skewX(-25deg);
}

*/
/* #arm-left
{
  position: relative;
  top:220px;
  height:250px;
}
#arm-right
{
  position:relative;
  top:220px;
  left:290px;
  height: 250px;
}
.iv-2
{
  background-color: #9EDCFA;
  color: #01303f;
  height:648px;
  width: 930px;
  display: inline-block;   
  border: 1px solid black;
  transform: skewX(25deg);
  border-radius: 50px;
  z-index:0;
  float:left;
  position: relative;
  top:-649px;
  left:700px;
box-shadow: -25px 57px 250px rgba(110, 205, 250, 0.4); */

/* } */
/* @media (max-width: 575.98px)
{
  .iv
  {
    width:525px;
  }
  .iv h1
  {
    position: relative;
    left:-40px;
    margin-left:0px;
    font-size: 75px;
    font-weight: 700;
  }
  .iv h2
  {
    position: relative;
    margin-left:0px;
    font-size: 30px;
    left:-35px;
  }
  #arm-left
  {
    position: relative;
    height:250px;
    width:150px;
    top:270px;
    left: -50px;
  }
  #arm-right
  {
    position: relative;
    height: 250px;
    width: 150px;
    top:20px;
    left:150px;
  }
  .iv-2
  {
    position: relative;
    left:350px;
  }
} */

@media (max-width: 600px) {
  .iv h1 {
    font-size: 80px;
  }
  .iv h2 {
    font-size: 30px;
  }
  .iv {
    width: 600px;
    height: 800px;
    transform: skewX(15deg);
  }
  .iv > * {
    transform: skewX(-15deg);
  }
  .iv2 {
    transform: skewX(15deg);
    margin-left: -600px;
    height: 800px;
    margin-top: 250px;
  }
}
