.intro-container {
  font-family: "lato", sans-serif;
  font-weight: bold;
  position: absolute;
  /* left:500px; */
  left: -60px;
  top: 1250px;
}
/* .polygon {
  width: 460px;
  height: 280px;
  background: #1a1a1a;
  clip-path: polygon(0 0, 90% 0, 65% 100%, 0 100%);
} */

.hello {
  max-height: 150px;
  height: 100%;
  font-size: 20rem;
  font-weight: 700;
  /* overflow: hidden; */
  line-height: 9rem;
  margin-left: 1.875vw;
  color: #6ecdfa;
}

.visitor {
  font-size: 6.5rem;
  white-space: nowrap;
  color: #d4f0fc;
  margin-top: 2.48vh;
  margin-left: 23.4375vw;
}
.message {
  color: #fff;
  padding: 15px;
  font-size: 2.2rem;
  text-align: left;
  position: relative;
  left: -4.16vw;
  font-weight: normal;
  width: 95%;
}
/* .polygon.greet {
  margin-left: -266px;
  line-height: 0.01rem;
} */

@media (max-width: 600px) {
  .message {
    font-size: 1rem;
    left: 3rem;
    padding: 20px 40px;
    margin-bottom: 2rem;
  }
  .hello {
    font-size: 8.8rem;
    position: relative;
    margin-left: 2.5rem;
  }
  .visitor {
    font-size: 2.5rem;
    margin-top: 0.4vh;
    margin-left: 55vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 600px) and (max-width: 768px) {
  .message {
    font-size: 1.25rem;
    left: 1rem;
  }
  .hello {
    font-size: 8.8rem;
  }
  .visitor {
    font-size: 2.5rem;
    margin-top: 0.4vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .message {
    font-size: 1.5rem;
    left: -0.5rem;
  }
  .hello {
    font-size: 8.8rem;
  }
  .visitor {
    font-size: 2.5rem;
    margin-top: 0.4vh;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  .message {
    font-size: 1.5rem;
    left: 0.5rem;
  }
  .hello {
    font-size: 11.8rem;
  }
  .visitor {
    font-size: 3.5rem;
    margin-top: 0.48vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1300px) and (max-width: 1367px) {
  .message {
    font-size: 1.5rem;
    left: -2.5rem;
  }
  .hello {
    font-size: 13.8rem;
  }
  .visitor {
    font-size: 3.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1367px) {
  .message {
    font-size: 2rem;
    left: 2rem;
  }
  .hello {
    font-size: 20rem;
  }
  .visitor {
    font-size: 6.5rem;
  }
}
