.container {
  max-width: 90%;
}
.navbar {
  padding-left: 2.6vw;
  width: 100%;
  height: 14.16vh;
  position: fixed;
  z-index: 2;
  background-color: none;
  /* background-color: #d4f0fcec; */
  transition: top 0.3s;
}

.img-log img {
  height: 9.26vh;
}

.navbar ul {
  margin: 0 0;
  padding: 0vw;
  display: flex;
  font-family: "Lato", sans-serif;
  margin-right: -0.2vw;
}
.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 2.08vw;
  color: #01303f;
  position: relative;
  padding-right: 0rem;
  margin-top: 0.18vh;
}
.navbar ul li {
  list-style: none;
  padding: 0vw 1.82vw 0vw 0.52vw;
  margin-right: -0.26vw;
}

/* Hover Animation */
.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0.46vh;
  content: "";
  display: block;
  height: 0.46vh;
  left: 50%;
  position: absolute;
  background: #01303f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after {
  width: 100%;
  left: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1351px) {
  .navbar a {
    display: none;
  }
  /* Add Hamburger Menu */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1367px) {
  .navbar {
    width: 99%;
    padding-left: 2.6vw;
    margin-left: auto;
  }
  .navbar {
  }
}
